body {
    font-family: Arial, Helvetica, sans-serif;
}

main{
    display:grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr ;
    row-gap: 30px;
    column-gap: 30px;

    }

    section{
        display: grid;
        grid-template-columns: 2fr 1fr ;

    }

    .card{
        border-width:1px;
        border-style: solid;
       
        margin:20px;
    }

    .card2{
        border-width: 1px;
        border-style:solid ;
       
        margin:20px;
    }
    
    .card3{
        border-width: 1px;
        border-style:solid ;
       
        margin:20px;

    }

    .card4{
        border-width: 1px;
        border-style:solid ;
       
        margin:20px;

    }

    div {
        margin: 10px;
    }

    img{
            border-width: 1px;
            border-style:solid ;
        
            margin:10px;
    
        }
    
    
  
   
    