html {
    scroll-behavior: smooth;
}

body * {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

nav {
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px;
    height: auto;
    display: flex;
    justify-content: space-between;
  }
  
  nav a {
    color: #f2f2f2;
    text-decoration: none;
    padding: 10px;
  }

  ul{
    display: flex;
    list-style-type: none;
  }

 